# Assignment 9

**Data 690**

**Wale Agboola**

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import random
import math
from statistics import mean

In [5]:
data_1 = "6,414; 1,550; 2,109; 9,350; 21,828; 4,300; 5,944; 5,722; 2,825; 2,044; " 
data_2 = "5,481; 5,200; 5,853; 2,750; 10,012; 6,357; 27,000; 9,414; 7,681; 3,200; "
data_3 = "17,500; 9,200; 7,380; 18,314; 6,557; 13,713; 17,768; 7,493; 2,771; 2,861; "
data_4 = "1,263; 7,285; 28,165; 5,080; 11,622"
data = data_1 + data_2 + data_3 + data_4
data

'6,414; 1,550; 2,109; 9,350; 21,828; 4,300; 5,944; 5,722; 2,825; 2,044; 5,481; 5,200; 5,853; 2,750; 10,012; 6,357; 27,000; 9,414; 7,681; 3,200; 17,500; 9,200; 7,380; 18,314; 6,557; 13,713; 17,768; 7,493; 2,771; 2,861; 1,263; 7,285; 28,165; 5,080; 11,622'

**Convert the single string to a list of strings using split() function. Make sure to specify a delimter or separator**

In [14]:
def Convert(string):
    li = list(string.split(";"))
    return li

In [15]:
new_data = Convert(data)

In [16]:
new_data

['6,414',
 ' 1,550',
 ' 2,109',
 ' 9,350',
 ' 21,828',
 ' 4,300',
 ' 5,944',
 ' 5,722',
 ' 2,825',
 ' 2,044',
 ' 5,481',
 ' 5,200',
 ' 5,853',
 ' 2,750',
 ' 10,012',
 ' 6,357',
 ' 27,000',
 ' 9,414',
 ' 7,681',
 ' 3,200',
 ' 17,500',
 ' 9,200',
 ' 7,380',
 ' 18,314',
 ' 6,557',
 ' 13,713',
 ' 17,768',
 ' 7,493',
 ' 2,771',
 ' 2,861',
 ' 1,263',
 ' 7,285',
 ' 28,165',
 ' 5,080',
 ' 11,622']

**Create a list of integers from the list of strings using List Comprehension or for loop. Make sure to remove the "," first and then convert the strings to integers**

In [20]:
new_data2 = []

for num in new_data:
    new_num = int(num.replace(',', ''))
    new_data2.append(new_num)

In [21]:
new_data2

[6414,
 1550,
 2109,
 9350,
 21828,
 4300,
 5944,
 5722,
 2825,
 2044,
 5481,
 5200,
 5853,
 2750,
 10012,
 6357,
 27000,
 9414,
 7681,
 3200,
 17500,
 9200,
 7380,
 18314,
 6557,
 13713,
 17768,
 7493,
 2771,
 2861,
 1263,
 7285,
 28165,
 5080,
 11622]

**Calculate and display the sample size**

In [33]:
sample_size = len(new_data2)

sample_size

35

**Calculate and display the sample mean**

In [31]:
def Average(lst):
    return mean(lst)

In [35]:
sample_mean = Average(new_data2)

sample_mean

8628.742857142857

**Calculate and display the t critical value using scipy.stats.t package ppf function**

In [54]:
from scipy import stats
from scipy.stats import t
import statistics

In [46]:
t_critical_value = stats.t.ppf(q= 1 - .025,df=34)

t_critical_value

2.032244509317718

**Calculate and display the margin of error**

In [61]:
stand_error = stats.mstats.sem(new_data2)

stand_error

1173.7307103455046

In [62]:
Margin_of_error = t_critical_value * stand_error

Margin_of_error

2385.3077915172366

**Calculate Lower and Upper Limit of the Confidence Interval**

In [64]:
#Lower Limit = Sample Mean - Margin of Error

Lower_limit = sample_mean - Margin_of_error

Lower_limit

6243.435065625621

In [65]:
#Upper Limit = Sample Mean + Margin of Error

Upper_limit = sample_mean + Margin_of_error

Upper_limit

11014.050648660093

**Now We have the 95% Confidence Interval**

In [67]:
confidence_interval = stats.t.interval(.95, 34, sample_mean, stand_error)

confidence_interval

(6243.435065625621, 11014.050648660093)