# Assignment 06 - Using Pandas

**Wale Agboola**

### 1) Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [1]:
import pandas as pd
import numpy as np

census_cost = pd.read_html('https://www.genealogybranches.com/censuscosts.html')

### 2) Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [2]:
len(census_cost)

2

In [3]:
census_cost[0]

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [4]:
census_cost[1]

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

### 3) Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [5]:
df = census_cost[0]
df.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [6]:
df.columns = ['Census_Year', 'Total_Population', 'Census_Cost', 'Average_Cost_Per_Person']

df.drop([0], inplace=True)

In [7]:
df.head()

  Census_Year Total_Population Census_Cost Average_Cost_Per_Person
1        1790          3929214     $44,377              1.13 cents
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents

In [8]:
df.shape  #checking shape of the data frame

(23, 4)

In [9]:
df.isnull().sum()   #checking if there are any missing variables in the data frame

Census_Year                0
Total_Population           0
Census_Cost                0
Average_Cost_Per_Person    0
dtype: int64

In [10]:
df.dtypes      #checking data types of the columns in the data frame

Census_Year                object
Total_Population           object
Census_Cost                object
Average_Cost_Per_Person    object
dtype: object

### 4) Document the data quality issues using a Markdown cell so the reader understands what the problems are.

**Data Issues:**

**Year column has an element that has an asterisk that should be removed.** 

**Once census cost gets to the billions its uses wording instead of adding the zeros. Also should get rid of the dollar signs.**

**The average cost per person column should have the dollar sign removed and the commas removed.**

### 5) Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [11]:
def cleanse_year(raw_year):
    year = raw_year.replace('*', '')

    return year

In [15]:
cleanse_year('1989*')

'1989'

In [16]:
cleanse_year('20*10')

'2010'

### 6) Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [12]:
df['Clean_Year'] = df['Census_Year'].apply(cleanse_year)

In [13]:
df.drop(columns=['Census_Year'], axis=1, inplace=True)

In [14]:
df.head()

  Total_Population Census_Cost Average_Cost_Per_Person Clean_Year
1          3929214     $44,377              1.13 cents       1790
2          5308483     $66,109              1.24 cents       1800
3          7239881    $178,445              2.46 cents       1810
4          9633822    $208,526              2.16 cents       1820
5         12866020    $378,545              2.94 cents       1830

### 7) Repeat this process for column "Total Population", "Census Cost", "Average Cost Per Person". (define, test, and apply the function)

In [17]:
def cleanse_census_cost(raw_census_cost):
    census_cost = raw_census_cost.replace(',', '').replace('$', '').replace('.', '').replace('Billion', '00000000').replace(' ', '')
    return census_cost

In [18]:
cleanse_census_cost('$13 Billion')

'1300000000'

In [19]:
df['Clean_Census_Cost'] = df['Census_Cost'].apply(cleanse_census_cost)

In [20]:
df.drop(columns=['Census_Cost'], axis=1, inplace=True)

In [21]:
df.head()

  Total_Population Average_Cost_Per_Person Clean_Year Clean_Census_Cost
1          3929214              1.13 cents       1790             44377
2          5308483              1.24 cents       1800             66109
3          7239881              2.46 cents       1810            178445
4          9633822              2.16 cents       1820            208526
5         12866020              2.94 cents       1830            378545

In [22]:
def cleanse_ACPP(raw_cost):
    cost = raw_cost.replace('cents', '').replace('$', '')

    return cost

In [23]:
cleanse_ACPP('1.13 cents')

'1.13 '

In [24]:
df['Clean_ACPP'] = df['Average_Cost_Per_Person'].apply(cleanse_ACPP)

In [25]:
df.drop(columns=['Average_Cost_Per_Person'], axis=1, inplace=True)

In [26]:
df.head()

  Total_Population Clean_Year Clean_Census_Cost Clean_ACPP
1          3929214       1790             44377      1.13
2          5308483       1800             66109      1.24
3          7239881       1810            178445      2.46
4          9633822       1820            208526      2.16
5         12866020       1830            378545      2.94

### 8) After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [27]:
df.to_csv(r'census_cost_cleansed.csv', index = False)

### 9) Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [28]:
df2 = pd.read_csv('census_cost_cleansed.csv', header=None)

df2.head()

                  0           1                  2           3
0  Total_Population  Clean_Year  Clean_Census_Cost  Clean_ACPP
1           3929214        1790              44377       1.13
2           5308483        1800              66109       1.24
3           7239881        1810             178445       2.46
4           9633822        1820             208526       2.16